{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Election Nominations</h1>
    <p>Due to the pandemic, HKN-BE elections for this semester will take place fully online. There will be a question and answer meeting on Sunday, April 19th, and then a discussion meeting on Monday April 20th.</p>
    <p>Elections are scheduled for <b>Tuesday, April 21st and Wednesday, April 22nd at <a href="https://vote.umich.edu">vote.umich.edu</a></b>.
        Please review the <a
                href="https://docs.google.com/document/d/e/2PACX-1vRn4qGU2plbNt3IU0Jn7smz6PekvK0oQv61SpADw-khC90G_YSoZXd98Nd3jUqwd-ObZpk5gHT55MDl/pub">elections
            guide</a> to see each position's responsibilities as well as the thoughts of the
        current and former office holders.<p>

    <p>Should you have any questions about elections, or wish to nominate yourself or another member, please don't
        hesitate to contact our Elections Chair, Michael Benson (mlbenson@umich.edu)<p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://docs.google.com/document/d/1OgP7w76Bl4THoVsFMqFcaL67sYcTtzWTlOVqKRtBqKc/pub?embedded=true"></iframe>
    </div>
{% endblock %}
